---
layout: layouts/base.njk
---

<h2>A little bit about me:</h2>

<p>Hi there! 👋 I'm Mala, a passionate learner on a coding journey with the Coders Guild. By day, I am an engineering leader, but my evenings are dedicated to diving deep into the world of coding.

Being part of the Coders Guild community has been an incredible experience. Surrounded by like-minded individuals, I've found a supportive environment where I can learn, grow, and collaborate on exciting projects. From HTML and CSS to JavaScript and beyond, I'm continuously expanding my skills and exploring new technologies.

Outside of coding, I am a mum of 2 lovely children. But when I'm not coding or pursuing my other passions, you can bet I'm probably reading a book or learning a language.

I believe that with dedication, perseverance, and a bit of creativity, anything is possible in the world of coding. And I'm excited to see where this journey takes me next!</p>