---
layout: layouts/base.njk
---
<h2>Ask me anything, via this form:</h2>
<br><br>
<form method="POST" netlify name="contact">
  
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Your First Name</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" placeholder="First name" width="50%"></textarea>
  </div>
  <br>

    <div class="form-group">
    <label for="exampleFormControlTextarea1">Your Second Name</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" placeholder="Second name"></textarea>
  </div>
  <br>

  <div class="form-group">
    <label for="exampleFormControlInput1">Your Email address</label>
    <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com">
  </div>


  <br>
  <div class="form-group">
    <label for="exampleFormControlTextarea2">Message</label>
    <textarea class="form-control" id="exampleFormControlTextarea2" rows="3" placeholder="Type your message here"></textarea>
  </div>
  <br>
  <button class="btn btn-lg btn-primary" type="submit">Submit</button>
</form>