---
layout: layouts/base.njk
---

{% set postslist = collections.posts %}
{% include "postslist.njk" %}

<a> <img src="/img/backgroundimage.jpeg" width="100%" height="50" alt="A"></a>

<h2>Blog Topics:</h2>

<ul>
<li>Started my new job this week - Apr 22nd</li>
<li>Attending the All Day Hey conference in Leeds - May 2nd</li>
<li>Attending the Agile Manchester Conference - May 15th to May 17th</li>
</ul>

<iframe src="https://github.com/ma1ab3nn?tab=repositories" title="My Ongoing Projects" width="100%" height="300" style="border:1px solid black;"></iframe>
