---
layout: layouts/base.njk
---

{% set postslist = collections.posts %}
{% include "postslist.njk" %}


<h2>Blog Topics:</h2>

<ul>
<li>Started my new job this week - Apr 22nd</li>
<li>Attending the All Day Hey conference in Leeds - May 2nd</li>
<li>Attending the Agile Manchester Conference - May 15th to May 17th</li>
</ul>

<ul>
<li>Netlify website</li>
<li>Learning spanish</li>
<li>Preparing for a talk at the end of May</li>
</ul>